# XMPP server main configuration file
#


#
# Rename to `.env` and adjust to make it work!
#

# A freely chooseable name (required)
#
NAME="Le chat noir"

# Email address of the server's administrator (required)
#
ADMIN_EMAIL=USER@YOURDOMAIN.TLD


# XMPP account of the server's administrator (required)
#
ADMIN_XMPP=USER@YOURDOMAIN.TLD


# XMPP - Domain for the xmpp server (required)
#
XMPP_SERVER_URL=chat.YOURDOMAIN.TLD

# Group chat server (required)
#
# A different domain pointing to the same server for running a multi-user chat 
# (MUC). It can be a simple CNAME record in your DNS pointing to 
# XMPP_SERVER_URL. It is required by XMPP, for more information check 
# https://prosody.im/doc/modules/mod_muc
#
XMPP_GROUPS_URL=conferences.chat.YOURDOMAIN.TLD


# Web chat client (required)
#
# A domain for the web chat client. All domains can be used, that point to the 
# server. Also the same as XMPP_SERVER_URL or XMPP_GROUPS_URL and also any 
# other (sub) domain.
#
XMPP_WEBCLIENT_URL=chat.YOURDOMAIN.TLD


# Secret (required)
#
# A freely definable secret. Gives authorization to certain applications to 
# talk to each other. For example allowing the xmpp-server to upload to the 
# filer component.
#
SECRET=s0m3l0ngr4nd0mstr1ng-b3cr34tiv3&h4v3fun


# Hosts of the xmpp addresses (optional)
#
# This field is optional and should be specified, in case the XMPP_SERVER_URL 
# is not the same as the hosts used for forming the user jabber IDs. Be aware 
# that using this, valid certificates need to be provided by your 
# configuration.
#
# Several hosts can be speficied, just separate them with a whitespace
# for example: example.com example.org example.de
# 
# XMPP_HOST_URLS=


# Dash board access
#
# You can set an htaccess username and password to restrict access to the
# reverse proxy dashboard.
#
# DASHBOARD_HTACCESS=
